.home__main {
    position: relative;
    display: flex;
    justify-content: center;
    flex: 1;
}

.home__main-title {
    text-align: center;
    font-size: 420px;
    line-height: 0.6;
    opacity: 0.7;
    user-select: none;
    z-index: 0;
}

.home__main-robot {
    position: absolute;
    bottom: 0;
    max-height: 100%;
    max-width: 125%;
    z-index: 2;
    user-select: none;
}

.home__elipse {
    position: absolute;
    width: 271px;
    height: 271px;
    border-radius: 351px;
    filter: blur(130px);
}

.purple {
    background: #ED43DC;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translate(-225px, -50px);
}

.orange {
    background: #FF8C06;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translate(225px, 50px);
}

.left-elem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translate(-235px, -40px);
    z-index: -1;
    height: 90%;
    user-select: none;
}

.right-elem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translate(340px, 35px);
    z-index: -1;
    height: 60%;
    user-select: none;
}

.home__rectangle {
    position: absolute;
    width: 91px;
    height: 91px;
    backdrop-filter: blur(10px);
    z-index: 3;
    background: rgba(217, 217, 217, 0.20);
    user-select: none;
}

.right-rect {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translate(185px, 110px);
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 50% 100%, 0% 100%, 0% 50%);
}

.left-rect {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translate(-230px, -210px);
    clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%, 0% 50%);
}

.home__main-desc {
    position: absolute;
    bottom: 44px;
    left: 0;
    z-index: 3;
}

.home__main-more {
    display: flex;
    gap: 16px;
    align-items: center;
}

.home__main-products {
    display: flex;
    position: absolute;
    gap: 24px;
    bottom: 0;
    right: 0;
    z-index: 4;
}



@media (max-width: 480px) {
    .home__main-title {
        font-size: 136px;
        /*position: absolute;*/
        /*top: 10%;*/
    }

    .home__main-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0 20px;
        bottom: 20px;
    }

    .home__main-desc h1 {
        font-size: 36px;
    }

    .home__main-arrow, .home__main-products {
        display: none;
    }

    .home__main-more p {
        color: #ED43DC;
    }

    .home__rectangle {
        width: 46px;
        height: 46px;
    }

    .left-rect {
        transform: translate(-50%, -50%) translate(-140px, -20px);
    }

    .right-rect {
        transform: translate(-50%, -50%) translate(140px, 140px);
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .right-rect {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) translate(115px, 95px);
        clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 50% 100%, 0% 100%, 0% 50%);
    }

    .left-rect {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) translate(-165px, -140px);
        clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%, 0% 50%);
    }
}