.home__main {
    position: relative;
    display: flex;
    justify-content: center;
    flex: 1;
}

.home__main-title {
    text-align: center;
    font-size: 420px;
    line-height: 0.6;
    opacity: 0.7;
}

.home__main-robot {
    position: absolute;
    top: 0;
    height: 100%;
}