.trending__prompts {
    padding: 42px 42px 42px 0;
    margin-bottom: 32px;
}

.prompts__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.prompts__list-items {
    display: flex;
    gap: 24px;
    /*width: 87%;*/
    overflow: auto;
}