.about__us {
    height: 470px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.about__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    max-width: 560px;
}

.about__text p {
    font-size: 18px;
    line-height: 180%;
}

.about__img-wrapper {
    display: flex;
    gap: 24px;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.about__img-wrapper::before, .about__img-wrapper::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 140px;
    pointer-events: none;
    z-index: 3;
}

.about__img-wrapper::before {
    top: 0;
    background: linear-gradient(to top, var(--about-img-gradient));
}

.about__img-wrapper::after {
    bottom: 0;
    background: linear-gradient(to bottom, var(--about-img-gradient));
}

.about__img {
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    pointer-events: none;
}


@media (max-width: 896px) {
    .about__us {
        flex-direction: column;
        margin: 0 20px 24px 20px;
        height: 800px;
    }

    .about__text {
        align-items: center;
        margin-bottom: 24px;
        max-width: 100%;
    }
    .about__text p {
        text-align: center;
        font-size: 16px;
    }

    .about__img-wrapper {
        justify-content: center;
    }
}