.btn {
    border: solid 1px #ED43DC;
    border-radius: 10px;
    font-size: 24px;
    padding: 13px 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

@media (max-width: 480px) {
    .btn {
        font-size: 18px;
        padding: 10px 24px;
    }
}