.terms__group {
    margin: 32px 0 16px 0;
}

.terms__group p {
    font-size: 14px;
    margin-bottom: 16px;
}

.tandcs {
    max-width: 1200px;
    margin: 0 auto;
}

.terms__list {
    margin-bottom: 16px;
}

.terms__list li{
    list-style: disc;
    margin-left: 32px;
}

@media (max-width: 896px) {
    .tandcs {
        margin: 0 20px;
    }
}