.inputField {
    width: 100%;
    padding: 10px 40px 10px 10px;
    box-sizing: border-box;
    border: 1px solid #ED43DC;
    border-radius: 6px;
}

.inputField::-webkit-outer-spin-button,
.inputField::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
}

input[type='number'] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
}