.product__details {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    padding: 6px 8px;
    margin: 0 15px;
    border-radius: 5px;
    border: 0.2px solid #FFF;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(7.5px);

}

.product__title {
    color: #ED43DC;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.product__price {
    color: var(--text-color-default);
    white-space: nowrap;
}