.titleText {
    color: #FF8C06;
    font-family: Iceland, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
    font-size: 36px;
}

@media (max-width: 480px) {
    .titleText {
        font-size: 24px;
    }
}