.settings {
    padding: 16px 0 46px 0;
}

.account__settings {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
}

.settings__header {
    margin-bottom: 24px;
}

.settings__subtitle {
    color: var(--main-text-color);
    font-family: Iceland, sans-serif;
    font-size: 32px;
    margin-bottom: 27px;
}

.update__info-form {
    margin-bottom: 32px;
}

.settings__input-group {
    display: flex;
    margin-bottom: 24px;
    gap: 32px;
}

.settings__text {
    color: var(--main-text-color);
    font-family: Iceland, sans-serif;
    font-size: 24px;
}

.settings__field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}



.ant-upload-select {
    border: 1px solid #FF8C06 !important;
    width: 169px !important;
    height: 169px !important;
}

.profile__picture {
    display: flex;
    align-items: flex-start;
    gap: 42px;
}

.picture__save {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

.picture__save-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.import__avatar {
    border-radius: 50%;
    z-index: -1;
    object-fit: cover;
    height: 100%;
}


.notification_setting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.settings__btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 36px;
}

.settings__btns-group {
    display: flex;
    gap: 42px;
    justify-content: space-between;
    align-items: center;
}


@media (max-width: 896px) {
    .settings__header {
        text-align: center;
    }

    .acc_settings {
        margin: 0 20px;
    }

    .account__settings {
        flex-direction: column-reverse;
        gap: 25px;
        margin-bottom: 18px;
    }

    .profile__picture {
        gap: 32px;
    }

    .ant-upload-select {
        width: 112px !important;
        height: 112px !important;
    }

    .settings__text.mob {
        font-size: 16px;
    }

    .picture__save {
        gap: 16px;
    }

    .settings__input-group {
        flex-direction: column;
        gap: 18px;
        margin-bottom: 18px;
    }

    .settings__btns {
        flex-direction: column;
        gap: 42px;
    }
}