.prompt__info-details {
    max-width: 636px;
}

.prompt__info-descr {
    margin-bottom: 42px;
}

.prompt__info-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.prompt__info-rate {
    display: flex;
    gap: 12px;
}

.prompt__head-tools {
    display: flex;
    gap: 32px;
    align-items: center;
}


.prompt__info-stat {
    display: flex;
    justify-content: space-between;
}

.prompt__stat {
    display: flex;
    gap: 32px;
}