.prompt__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 57px;
}


.prompt__info-details {
    max-width: 636px;
}

.prompt__info-descr {
    margin-bottom: 42px;
}

.prompt__info-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.prompt__info-rate {
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 24px;
}

.prompt__info-stat_rate {
    display: none;
}

.prompt__head-tools {
    display: flex;
    gap: 32px;
    align-items: center;
}

.prompt__descr-text {
    color: var(--main-text-color);
    font-family: K2D, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.heart__img {
    fill: var(--main-text-color);
    cursor: pointer;
}


.prompt__info-stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 42px;
}

.prompt__stat {
    display: flex;
    gap: 32px;
    align-items: center;
}

.prompt__stat-elem {
    display: flex;
    align-items: center;
    gap: 8px;
}


.get__prompt {
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
    align-items: center;
}

.prompt__info-img {
    max-width: 678px;
    max-height: 552px;
}

.prompt__info-img img{
    width: 100%;
    height: auto;
}


.prompt__reviews {
    padding: 35px 0;
    margin-bottom: 32px;
}

.reviews__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 45%;
    margin-bottom: 60px;
}

.reviews__list {
    padding-top: 32px;
    display: flex;
    gap: 32px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.prompt__similar {
    padding: 42px 0;
}

.similar__items {
    padding: 32px 0;
    display: flex;
    gap: 24px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.similar__items::-webkit-scrollbar, .home__categories::-webkit-scrollbar {
    display: none;
}



@media (max-width: 896px) {
    .prompt__info-stat_wrapper {
        display: flex;
        flex-direction: column;
        gap: 26px;
    }

    .prompt__info {
        flex-direction: column-reverse;
        /*align-items: normal;*/
        margin: 0 20px;
        padding-bottom: 0;
    }

    .prompt__info-descr {
        margin-bottom: 22px;
    }

    .prompt__info-stat_rate {
        display: flex;
        justify-content: space-between;
    }

    .prompt__info-img {
        margin-bottom: 32px;
    }

    .prompt__info-rate.full, #product__count {
        display: none;
    }

    .prompt__reviews {
        margin-left: 20px;
        padding-bottom: 0;
    }

    .reviews__header {
        margin-bottom: 0;
    }


    .prompt__similar {
        padding-top: 0;
        margin-left: 20px;
    }
}